<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

<!--     <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/slider/Logo.png" alt="Office">
    </a> -->

    <a class="navbar-brand wow fadeInDownBig" href="index.html">
      <h3>
        <div>
          <img width=5% height="auto" object-fit="cover" src="favicon.png"/>
        </div>
        长安归故里，故里有长安
      </h3>
    </a>

  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="/">主页</a>
      </li>
      <li>
        <a href="/team.html">帮会成员</a>
      </li>
      <li>
        <a href="/league.html">帮会联赛</a>
      </li>
      <li>
        <a href="/activity.html">帮会活动</a>
      </li>
      <li>
        <a href="/points.html">积分看板</a>
      </li>
      <li>
        <a href="/album.html">相册</a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->
