<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/slide1.jpg" height="300" alt="Image of first carousel">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide2.jpg" height="300" alt="Image of second carousel">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide3.jpg" height="300" alt="Image of third carousel">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">故里长安</h3>
                    <h4 class="services-header-title">yy: 5442007)</h4>
                </div>
            </div>
            <!-- Begin Services Row 1 -->
            <p align="center" class="services-body text_line">
            2023年1月13日，故里从魔兽变故后落地于逆水寒老兵服。
            在这一年半的时间里，有过感动，有过失落，有过坚持。很庆幸我们一起走过。
            我们从逆水寒小白变成了逆水寒油条。
            我们明白了没有所谓的投资在逆水寒这个游戏里面生存是一个多难的事情。
            但是故里依旧秉承“无老板，愉快游戏，一家人”的原则。招到了一批志同道合的朋友。
            从24年“天极赛季”开始，我们认真对待PVP。
            从势力地图，训练赛，帮战，诸神。
            我们感受到了这个游戏独特的PVP魅力，也明白了我们和别的老牌PVP帮派的差距。
            新的赛季，我们认真总结上半赛季的教训。重新出发。
            故里欢迎你的加入。故里感恩有你!
            </p>
            <!-- End Serivces Row 1 -->
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
